doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Account Info
        link(href='/account.css', rel='stylesheet')
    body 
        div(id='mainPageBar') 
            div(class='menuNav')
                a(href='/') Home
                a(href='/order') Book Event
                a(href='/account') Account
            div(class='signIn')
                a(href='/signIn') #{user.fname}
        br 
        fieldset(class='fieldset')
            h2(id='createProfileHeader') Account Info 
            div(id='container')
                form(id='form' method='post' action=('/updateAccount'))
                    div(id='box1' class='box')
                    div(id='box2' class='box') 
                        label(for='userUsername' id='username') Username:
                        br
                        input(type='text' name='userUsername' placeholder='Current: ' + user.username)
                        br
                        br
                        label(for='userEmail' id='email') Email:
                        br 
                        input(type='text' name='userEmail' placeholder='Current: ' + user.email)
                        br
                        br
                        label(for='userPhone' id='phone') Phone: 
                        br
                        input(type='text' name='userPhone' placeholder='Current: ' + user.phone)
                        br
                        br
                    a(href="#box3") Change Password
                    br
                    br
                    div(id='box3', class='box3')
                        label(for='password' id='password') Current Password: 
                        br
                        input(type='text' name='password')
                        br
                        br
                        label(for='newPassword' id='newPassword') New Password:
                        br 
                        input(type='text' name='newPassword')
                        br
                        br
                        label(for='confirmPassword' id='confirmPassword') Confirm Password:
                        br 
                        input(type='text' name='confirmPassword')
                        br
                        br
                        input(type='submit' value='Update User' id='updateUser')
        script 
            include ../scripts/account.js