doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/adminDesign.css")
        title Admin Design
        script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
        label(for="adminAcceptChoice") Accept
            input(type="radio" id="adminAcceptChoice" value='accept')
        label(for="adminDenyChoice") Deny
            input(type="radio" id="adminDenyChoice" value='deny')
        button(type="submit" id='submitbtn') submit
        #calendar

        script 
            include ../scripts/adminDesign.js
        br


    body 
