doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The Main Event
        link(href='/index.css', rel='stylesheet')
    body
        div(id='container')
            div(id='mainPageBar') 
                div(id='logo' class='box') Logo Goes Here
                div(class='menuNav')
                    a(href='/') Home
                    a(href='/order') Book Event
                    a(href='/account') Account
                div(class='signIn')
                    a(href='/') Sign-In
                
            div(id='logoHeader')
                div(id='leftKnife' class='box') Some Chef Hat here
                div(id='mainHeader'  class='box')
                    p(class='smallHeadText') We are the 
                    p(id='bigHeadText') MAIN EVENT 
                    p(class='smallHeadText') let us take care if yours
                div(id='rightKnife' class='box') Some Chef Hat here

            div(id='topNotes' class='box')
                div(id='typeEvents' class='box') This is the type of events 
                div(id='foodRows' class='box') 
                    div(class='foodRow1' class='box')
                        div(class='foodItem1' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage')
                        div(class='foodItem2' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage')
                    div(class='foodRow2' class='box')
                        div(class='foodItem1' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage')
                        div(class='foodItem2' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage')

            div(id='bottomNotes' class='box')
                div(id='foodPic2' class='box')
                    div(class='foodRow1' class='box')
                        div(class='foodItem1' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage2')
                        div(class='foodItem2' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage2')
                    div(class='foodRow2' class='box')
                        div(class='foodItem1' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage2')
                        div(class='foodItem2' class='box')
                            img(src='./images/tests/food2.jpg' alt='food2' class='itemImage2')
                div(id='notableJobs' class='box') This will be the notable jobs 

            div(id='contact' class='box')
                div(id='contactInfo' class='box') The Main Event Contact Info
                div(id='contactPicture' class='box') This is where the picture will go 

            div(id='footer' class='box') This is the foot notes