doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The Main Event
        link(href='/index.css', rel='stylesheet')
    body
        div(id='container')
            div(id='mainPageBar' class='box') This will be a main drop down bar 

            div(id='logoHeader' class='box')
                div(id='logo' class='box') This is the logo 
                div(id='mainHeader' class='box') We are the Main Event let us take care of yours 

            div(id='topNotes' class='box')
                div(id='typeEvents' class='box') This is the type of events 
                div(id='foodPic' class='box') 
                    img(id='imgOne' src='./images/tests/Food.jpeg' alt='Food')

            div(id='bottomNotes' class='box')
                div(id='foodPic2' class='box')
                    img(id='imgTwo' src='./images/tests/food2.jpg' alt='Food2')
                div(id='notableJobs' class='box') This will be the notable jobs 

            div(id='contact' class='box')
                div(id='contactInfo' class='box') The Main Event Contact Info
                div(id='contactPicture' class='box') This is where the picture will go 

            div(id='footer' class='box') This is the foot notes