doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The Main Event
        link(href='/index.css', rel='stylesheet')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E")
    body
        div(id='container')
            div(id='mainPageBar') 
                div(class='menuNav')
                    a(href='/') Home
                    a(href='/order') Book Event
                    a(href='/account') Account
                div(class='logout')    
                    a(href='/logout') Log Out 
                div(class='signIn')
                    a(href='/signIn') Sign-In

            div(id='logoHeader')
                div(id='leftKnife')
                    img(alt='chefHat' src='../images/ChefsHat/ChefHat.png' class='hat')
                div(id='mainHeader')
                    img(alt='logo' src='../images/logo/TransLogo.png' class='logo')
                div(id='rightKnife')
                    img(alt='chefHat' src='../images/ChefsHat/ChefHat.png' class='hat')

            div(id='topNotes')
                div(id='typeEvents')
                    div(id='typeHeader') Type of Events
                    div(id='typeList')
                        pre()
                            code. 
                                Weddings
                                Business Luncheons 
                                Corporate Events
                                Birthdays 
                                Open Houses 
                                Garden Parties
                                Holiday Meals 
                                Daily Lunches 
                                Freezer Meals 
                                Galas 
                                Fundraisers... 
                                Whatever the occasion we can take care of it
                div(id='foodRows') 
                    div(class='foodRow1')
                        div(class='foodItem1')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/Catering_Display_1.jpg' alt='food2' class='itemImage')
                        div(class='foodItem2')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventCateringDisplay2.jpg' alt='food2' class='itemImage')
                    div(class='foodRow2')
                        div(class='foodItem1')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventCateringDisplay3.jpg' alt='food2' class='itemImage')
                        div(class='foodItem2')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventCookies1.jpg' alt='food2' class='itemImage')

            div(id='bottomNotes')
                div(id='foodPic2')
                    div(class='foodRow1')
                        div(class='foodItem1')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventMealDisplay1.jpg' alt='food2' class='itemImage2')
                        div(class='foodItem2')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventMealDisplay2.jpg' alt='food2' class='itemImage2')
                    div(class='foodRow2')
                        div(class='foodItem1')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventMealDisplay3.jpg' alt='food2' class='itemImage2')
                        div(class='foodItem2')
                            a(href='/order' target='_self')
                                img(src='./images/OwnerPictures/MainEventSweets1.jpg' alt='food2' class='itemImage2')
                div(id='notableJobs') 
                    div(id='notableHeader') Notable Jobs 
                    div(id='notableList')
                        pre()
                            code. 
                                Intermountain Healthcare Open House 
                                Tour of Utah, International Biking
                                Tabernacle Choir at Temple Square 
                                Weddings with Tongan Royalty
                                Red Sands Photography Nature Tour
                                PandoPopulous, Intersectionality Group 
                                Military Balls 
                                Chamber of Commerce Dinners
                                City Council Luncheons
                                Caucaus Events 
                                etc... 
            div(id='contact')
                div(id='contactInfo') 
                    div(id='contactHeader') The Main Event Contact Info
                    div(id='socialLinks')
                        div(id='facebookLink')
                            a(href="https://www.facebook.com/themaineventofutah")
                                img(alt="facebook" src="../images/socialLogo/facebook.png" class="fa-facebook")
                        div(id='contactNumber')
                            pre()
                                code. 
                                    Phone: (435) 201-9910
                                    Email: RichfieldChef@gmail.com
                        div(id='instagramLink')
                            a(href="https://www.instagram.com/themaineventofutah/")
                                img(alt='instagram' src='../images/socialLogo/instagram.png' class='fa-instagram')
                div(id='contactPicture')
                    img(src='../images/OwnerPictures/AndrewAndKristenDouglas.jpg' class='picture')

            div(id='footer' class='box') The Main Event©