doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Order Page
        link(href='/orderPage.css', rel='stylesheet')
    body
        div(id='container')
            div(id='mainPageBar') 
                div(id='logo' class='box') Logo Goes Here
                div(class='menuNav')
                    a(href='/') Home
                    a(href='/order') Book Event
                    a(href='/account') Account
                div(class='signIn')
                    a(href='/signIn') Sign-In
            h2 Order Information 
            div 
                h4 Event Type: 
                input(type='text' name='eventType' placeholder='Type of Event')
            br
            div 
                h4 Date and Time: 
                script(src='https://jsuites.net/v4/jsuites.js')
                link(rel='stylesheet' href='https://jsuites.net/v4/jsuites.css' type='text/css')
                input#calendar
                script.
                    jSuites.calendar(document.getElementById('calendar'), {
                    time:true,
                    format:'DD/MM/YYYY HH24:MI',
                    });
            br
            div 
                h4 Number of People: 
                input(type='text' name='numOfPeople' placeholder='Number of Guests')
            br
            div 
                h3 Menu Selection 
                section Menu Items 
                    article.view American Picnic: 
                        a(href="#")
                            img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/font-slate-mockup.jpg")
                            .mask
                                h6 process work
                                h3 FontSlate website design
                        
            br
            br
            br
            div 
                p Sign in to Schedule Now!! 

