doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Order Page
        link(href='/index.css', rel='stylesheet')
    body
        div(id='container')
            div(id='mainPageBar') 
                div(id='logo' class='box') Logo Goes Here
                div(class='menuNav')
                    a(href='/') Home
                    a(href='/order') Book Event
                    a(href='/account') Account
                div(class='signIn')
                    a(href='/signIn') Sign-In
            h2 Order Information 
            div 
                h4 Event Type: 
                input(type='text' name='eventType' placeholder='Type of Event')
            br
            div 
                h4 Date and Time: 
                input(type='text' name='date' placeholder='Date and Time')
            br
            div 
                h4 Number of People: 
                input(type='text' name='numOfPeople' placeholder='Number of Guests')
            br
            div 
                h3 Menu Selection 
                div Menu Item Selection HERE! 
            br
            br
            br
            div 
                p Sign in to Schedule Now!! 

