@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Work+Sans&display=swap');

html, body{
    text-align: center;
    margin: 0px;
    height:100%;
    background-color: #fff;
    font-family: 'Rammetto One';
}

#mainPageBar {
    display: flex;
    flex-direction: row;
    height: 7%;
}

fieldset {
    background-color: #e3e3e3;
    display: block;
    margin-right: 2px;
    margin-left: 450px;
    margin-top: 50px;
    padding-top: 0.35em;
    padding-bottom: 0.15em;
    padding-left: 0.15em;
    padding-right: 0.75em;
    border: 2px solid black;
    width: 600px;
    height: 600px;
    border-radius: 10px;
}

#logo {
    flex: 1;
}

.menuNav {
    background-color: #141414;
    overflow: hidden;
    flex:6;
}

.menuNav a {
    float: left;
    color: #f3f3f3;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    font-size: 17px;
}

.menuNav a:hover {
    background-color: #ddd;
    color: black;
}

.signIn {
    background-color: #141414;
    flex: 0.7;
}

.signIn a{
    float: right;
    color: #f3f3f3;
    text-align: center;
    padding: 11%;
    text-decoration: none;
    font-size: 17px;
}

#createProfileHeader{
    text-align: center;
}

#username{
    max-width: 200px;
    align-self: center;
    text-decoration: underline;
}

#email{
    max-width: 200px;
    align-self: center;
    text-align: center;
    text-decoration: underline;
}

#phoneNumber{
    max-width: 200px;
    align-self: center;
}

#phone{
    max-width: 200px;
    align-self: center;
    text-decoration: underline;
}

#container{
    display: flex;
    flex-direction: column;
}

#box2 {
    text-align: center;
}

#box3{
    text-align: center;
    display: none;
}

#changePassword{
    align-self: center;
}

#changePassword:hover{
    background-color: lightgreen;
}

#changePassword:checked .passwordDiv{
    visibility: visible;
    opacity: 1;
}

#box3:target{
    display: block;
}

#password{
    text-align: center;
    text-decoration: underline;
}