@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Work+Sans&display=swap');

html, body {
    margin:0px;
    height:100%;
    background: #fff; 
    font-family: 'Rammetto One';
}

fieldset {
    background-color: #e3e3e3;
    display: block;
    margin-right: 2px;
    margin-left: 450px;
    margin-top: 50px;
    padding-top: 0.35em;
    padding-bottom: 0.15em;
    padding-left: 0.15em;
    padding-right: 0.75em;
    border: 2px solid black;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

#createAccount {
    text-align: center;
}

#input {
    text-align: center;
}

#fname {
    margin: 10px;
}

#lname {
    margin: 10px;
}

#email {
    margin: 10px;
}

#phone {
    margin: 10px;
}

#username {
    margin: 10px;
}

#password {
    margin: 10px;
}

#confirmPassword {
    margin: 10px;
}

#submit {
    margin-top: 30px;
}